<nav>
    <div class="section">
    <a href="../wild/accueil.html.twig"><li>Accueil</li></a>
    <a href="../wild/index.html.twig"><li>Film</li></a>
    <a href="../wild/index.html.twig"><li>Série</li></a>
    <a href="../wild/index.html.twig"><li>Genre</li></a>
    </div>

    <li><a href="connect"><input type="submit"  value="Connection" ></a></li>
</nav>
