<nav>
    <div class="section">
    <a href="{{ path('wild_index') }}"><li>Accueil</li></a>
    <a href="../wild/index.html.twig"><li>Film</li></a>
    <a href="{{ path('episode_index') }}"><li>Série</li></a>
    <a href="../wild/index.html.twig"><li>Genre</li></a>
    </div>

    <li><a href="connect"><input type="submit"  value="Connection" ></a></li>
</nav>
